:root{
    background-color: blanchedalmond;
}

.title{
    color: black;
    font-size: 40px;
}

.writer{
    color: indigo;
    font-size: 25px;
}

.content{
    color: darkcyan;
    font-size: 30px;
}

a:link{
    color: black;
}

/* 鼠标悬浮超链接颜色 */
a:hover{
    color: skyblue;
}

.content
{
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-template-rows: 5fr 5fr;
}

.myList
{
    grid-column: 1;
    grid-row: 1;
}

.poem
{
    grid-column: 2;
    grid-row: 1;
}

.myPhoto
{
    grid-column: 2;
    grid-row: 2;
}