:root{
    background-color: blanchedalmond;
}

.title{
    color: black;
    font-size: 40px;
}

.writer{
    color: indigo;
    font-size: 25px;
}

.content{
    color: darkcyan;
    font-size: 30px;
}

a:link{
    color: black;
}

/* 鼠标悬浮超链接颜色 */
a:hover{
    color: skyblue;
}